.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.progress-bar-wrapper{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 102.57px;
  width: 80%;
}

.progress-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 40px;
  background-color: #EFEFEF; 
  border-radius: 30px;
}


.progress-segment {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.progress-segment:last-child, .progress-segment:first-of-type{
  border-right: none;
}


.stars{
  position: absolute;
  top: -40%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.progress-segment:last-child .stars svg:last-child, .progress-segment:first-of-type .stars svg:last-child{
  display: none;
}
.active svg{
  fill: #3300FF;
}
.progress-number {
  position: absolute;
  top: 150%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: #000;
  opacity: 50%;
}

.cup{
  position: absolute;
  top: -40%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.name{
margin-bottom: 40px;
}
.no-data{
  margin-top: 20px;
}